@import "tailwindcss";


/* Hide scrollbar for Chrome, Safari, Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

.ck-editor__editable_inline {
  min-height: 400px; /* or whatever you want */
}